@model int
@{
    ViewBag.Title = "Manage posting";
}

<h2>@ViewBag.Title</h2>

@Html.Hidden("SocialNetworkId", Model.ToString())

<button type="button" class="btn btn-info btn-lg m-b-10" data-toggle="modal" data-target="#modalCreatePost">Create post</button>

<table class="table table-bordered table-hover" id="posts-dt">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date of creation</th>
            <th>Date of publish</th>
            <th>Status of sending</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



<div id="modalCreatePost" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Post creating</h4>
            </div>
            <form id="createPostForm">
                @Html.Hidden("PostId")
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#post-main-options">Main options</a></li>
                        <li><a data-toggle="tab" href="#post-preview">Post preview</a></li>
                        <li><a data-toggle="tab" href="#post-groups-of-links">Groups of links</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="post-main-options" class="tab-pane fade active in scroll-v-auto h-430-strong">
                            <h3>Main options of post</h3>
                            <div class="form-group">
                                <label>Name:</label>
                                <div>
                                    <input class="form-control max-w-100p" type="text" id="Name" name="Name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Content:</label>
                                <div>
                                    <textarea name="Content" class="form-control scroll-v-auto h-150-strong max-w-100p" id="Content"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="date-of-sending-rbtn" data-value="true" checked/>
                                <label>Send after saving</label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="date-of-sending-rbtn" data-value="false"/>
                                <label>Set date of publish:</label>
                                <div class="input-group date hidden">
                                    <input type="text" name="DateOfPublish" id="DateOfPublish" class="form-control max-w-100p"/>
                                    <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
                                </div>
                            </div>
                        </div>
                        <div id="post-preview" class="tab-pane fade scroll-v-auto h-430-strong">
                            <div class="post-edit-popup-preview-tab-overload"></div>
                            <div class="loader" style="position: absolute; top: 35%; z-index: 5; left: 32%; width: 200px; height: 200px;"></div>
                            <div id="preview-container">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Text of post</div>
                                    <div class="panel-body" id="post-content-preview">
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">Attachments preview</div><div class="panel-body">
                                        <div id="post-link-info-preview" style="margin: 0 auto; width: 476px;">
                                        </div>
                                    </div>
                                 </div>
                            </div>
                       </div>
                                        <div id="post-groups-of-links" class="tab-pane fade scroll-v-auto h-430-strong">
                                            <h3>Selection groups of links</h3>
                                            <div>
                                                <table class="table table-bordered table-hover" id="groups-of-links-table-dt">
                                                    <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th></th>
                                                            <th>Name of group</th>
                                                            <th>Selection</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
</form>
                <div class="modal-footer text-center-strong">
                    <input type="button" id="create-post-continue-btn" class="btn btn-default" value="Next >"/>
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                </div>            
        </div>
    </div>
</div>

@Styles.Render("~/Content/datetimepicker")
@Styles.Render("~/Content/jquery-datatables")

@section scripts{
    @Scripts.Render("~/helpers/localDateCreator")
    @Scripts.Render("~/bundles/jquery-datatables")
    @Scripts.Render("~/bundles/manage-posts")
}